.box {
  border: 1px red dotted;
}

body {
  padding-top: 70px;
}

.profile {
  margin-right: 50px;
}

.profile aside p {
  font-size: 12px;
}

.profile aside ul li {
  float: left;
  margin-right: 8px;
}

.profile aside ul {
  list-style: none;
  padding: 0px;
}

.profile aside:after {
  content: "";
  display: block;
  clear: both;
}
