.carousel {padding-bottom: 25px}
.carousel img{padding-top: 20px;}
.carousel h2 {color: #0072b5;}
.carousel h2 small{color: #289bde}
.carousel col-lg-4 p {text-align: center;}
#arrows {vertical-align: middle;}
