html, body {
  height: 100%;
}

.box {
  border: 1px red dotted;
}

.container {
  max-width: 400px;
  min-height: 100%;
  display: table;
}

.container form {
  display: table-cell;
  vertical-align: middle;
}
